// Zellij global config
// Symlinked to ~/.config/zellij/config.kdl

theme "gruvbox"

keybinds {
    normal {
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }
    tmux {
        bind "Esc" { SwitchToMode "normal"; }
        bind "c" { NewPane; SwitchToMode "normal"; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "x" { ClosePane; SwitchToMode "normal"; }
        bind "h" "Left"  { MoveFocus "left"; SwitchToMode "normal"; }
        bind "j" "Down"  { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" "Up"    { MoveFocus "up"; SwitchToMode "normal"; }
        bind "l" "Right" { MoveFocus "right"; SwitchToMode "normal"; }
        bind "H" { MovePane "left"; SwitchToMode "normal"; }
        bind "J" { MovePane "down"; SwitchToMode "normal"; }
        bind "K" { MovePane "up"; SwitchToMode "normal"; }
        bind "L" { MovePane "right"; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "resize"; }
        bind "[" { PreviousSwapLayout; }
        bind "]" { NextSwapLayout; }
    }
    resize {
        bind "Esc" { SwitchToMode "normal"; }
        bind "h" "Left"  { Resize "increase left"; }
        bind "j" "Down"  { Resize "increase down"; }
        bind "k" "Up"    { Resize "increase up"; }
        bind "l" "Right" { Resize "increase right"; }
    }
}

ui {
    pane_frames {
        rounded_corners true
    }
}
